// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Chemodan Colors
$chem_y: #FAAB1F;
$chem_r: #853239;
$chem_yy: #FFE11B;

// 257 Colors
$_257_b: #0099AB;
$_257_f: #7059A3;
$_257_o: #E0735E;
$_257_by: #3992CF;
