.left_menu {
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
  border-radius: 5px;
  overflow: hidden;
  font-size: 12px;
  position: fixed;

  ul {
    padding: 0px;
    margin: 0px;
    li {
      list-style: none;
      border-bottom: 1px solid rgb(230,230,230);
      color: grey;
      cursor: pointer;

      a {
        display: block;
        padding: 0.5rem;
        color: grey;

        &:hover {
          background: #F0F0F0;
          text-decoration: none;
          padding: 0.5rem;
        }
      }
    }
  }
  .all_education:after {
    content: '';
    border: 5px solid transparent;
    border-top-color: grey;
    border-bottom: none;
    float: right;
    margin-top: 8px;
  }
  .all_education_down {
    &:after {
      transform: rotate(180deg) !important;
    }
  }
}
.attention {
  margin: 10px 20px 20px 20px;
  background: #ffe1e7;
  padding: 20px;
  border: 2px solid #ffa7a7;
  border-radius: 10px;
}