.navbar {
  height: 72px;
  background: white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 0 120px;
}
.navbar-nav {
  margin-left: 110px;
}
.user_info {
  float: left;
  padding: 9px 0px 9px 5px;
  border-left: 1px solid #8d8d8d;
  overflow: hidden;
}
.user_info p {
  margin-bottom: 0px !important;
}
.user_info i {
  color: #8d8d8d;
}